body{
    background-color: black;
    
}


div#board{
    background: url(img/board.jpg) no-repeat;
    position: relative;
    height: 863px;
    width: 1024px;
    margin: auto;


}
table{
    position:absolute;
    margin-left:171px;
    margin-top: 97px;
    height: 675px;
    width: 674px;
    border-spacing: 0px;

}

td{
    
    height: 96,4px;
    width: 96,4px;

}

form{
position:absolute;
bottom:0px;
right:0px;
padding:15px;
background: rgb(48 72 10);


}

input{
background: rgb(73 118 41);
color:black;
border: 3px solid black;


}



::placeholder{
    color:black
}

.miss{
    position:relative;
    background: url(img/miss.png) no-repeat center center;
    
}

.hit{
    position:relative;
    background: url(img/ship.png) no-repeat center center;
    
}

#messageArea{
    color: rgb(73 118 41);
    width:15%;
}